<main class="pd-bo-ft clear mn-ht clearfix">
<div id="sidebar" class="col-3 w-mx-s d-ib bg-gray ht-au">
<!-- don't touch the code above here! -->




<!--
   this is where the sidebar info goes
                                      -->




<!-- don't touch the code between these comments -->
</div>
<div class="w-100p pd-main ht-au d-ib tx-lt h-100p">
<!-- don't touch the code between these comments -->

<section class="content-box mg-lt-md">
  <h1>Hello, <%= @user.username %></h1>

  <h2>Edit Queue</h2>
  <% @articles.with_unapproved_edits.each do |article| %>
    <ul class="ul-no">
      <% article.edits.unapproved_edits.each do |edit| %>
        <li>Proposed Title: <%= edit.title %></li>
        <li>Proposed Content: <%= edit.content %></li>
      <% end %>
    </ul>
  <% end %>



</section>


<!--
  this is where the content goes.

  <h1>, <h2>, <h3>, and <a> are styled.
  anything you want in a white box (to be readable) needs to be inside <section class="content-box mg-lt-md"></section>

-->



<!-- don't worry about those divs not closing, it's in the layout -->


