<div id="<%= @details[:featured].id %>" class="feature-id-grabber"></div>

<h1 class="mg-lt-md"><%= @details[:featured].title %></h1>

<div class="ft-lh-sm ft-sm">
  <%= @details[:featured].content %>
</div>

<br>
<div class="w-100p contain">
  <% if @details[:first] != true %>
    <a class="tx-al fl-l" href="" id="prev-feature"><i class="fa fa-arrow-left mg-lt-md"></i> Previous Feature</a>
  <% end %>
  <% if @details[:last] != true %>
    <a class="tx-ar fl-r" href="" id="next-feature">Next Feature <i class="fa fa-arrow-right mg-rt-md"></i></a>
  <% end %>

