<main class="pd-bo-ft clear mn-ht clearfix">
<div id="sidebar" class="col-3 w-mx-s d-ib bg-gray ht-au">

...</div>
<div class="w-100p pd-main ht-au d-ib tx-lt h-100p">

<div class="content-box clearfix">
<span class="mg-lt-md">Featured Article:</span>
<div id="feature-box">
<%= render "index/feature" %>
</div>
</div>

