
html, body {
  margin:0;
  padding:0;
  height:100%;
}
#container {
  min-height:100%;
  position:relative;
}

footer {
  height: 3em;
  clear: both;
  position: absolute;
  bottom: 0;
  left: 0;
}

.content-box {
  background: white;
  padding: .8em 2em .8em 2em;
  border: 1px gray solid;
  font-family: sans-serif;
  margin-bottom: 1em;
}

.login-box {
  background: white;
  padding:      .8em;
  border: 1px gray solid;
  font-family: sans-serif;
  max-width: 400px;
}

a {
  color: #19abb5;
  text-decoration: none;

}

.input-field {
  border-width: 2;
  border-radius: 5px;
  min-width: 40%;
  margin: 10px 5% 0 0;
}

a:hover{
  text-shadow:0 0 1px #19abb5, 0 0 1px #19abb5
}

h1 {
  color: gray;
  margin-top: .2em;
  font-size: 1.8em;
  font-family: 'Nunito', sans-serif;
}

h2 {
  color: gray;
  margin: .2em;
  font-size: 1.6em;
  font-family: 'Nunito', sans-serif;
}

h3 {
  color: gray;
  margin: .2em;
  font-size: 1.2em;
  font-family: 'Nunito', sans-serif;
}

#sidebar {
  color: white;
  padding: .5em;
  font-family: 'Nunito', sans-serif;

}

#sidebar > a {
  color: white;
  text-decoration: none;
}

#sidebar > a:hover {
  text-decoration: underline;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.ht-au { height: auto;}
.contain { overflow: auto; }

.mn-ht { min-height: 100%; }

/*###### WIDTH ############
#########################*/

.w-100p { width: 100%; }
.w-5p   { width:  5px; }
.w-25p  { width:  25%; }
.w-mx-md { max-width: 500px; }



/*###### HEIGHT ###########
#########################*/

.h-100p { height: 100%; }
.h-3em  { height:  3em; }
.h-22   { height: 22px; }


/*###### PADDING ##########
#########################*/

.pd-no    { padding:       0px; }
.pd-lt-xs { padding-left: .6em; }
.pd-sm    { padding:      .4em; }
.pd-m     { padding:      .7em; }

.pd-bo-ft { padding-bottom: 3em;}


/*###### MARGIN ###########
#########################*/

.mg-tp-xs     { margin-top:   .3em; }
.mg-bo-xs     { margin-bottom:.3em; }
.mg-tp-sm     { margin-top:   .7em; }
/*.mg-lt-md     { margin-left:   1em; }*/
.mg-rt-md     { margin-right:  1em; }
.mg-lt-mp     { margin-left:   15%; }
.mg-lt-no     { margin-left:     0;}



/*###### BACKGROUND #######
#########################*/

.bg-wh       { background:   white; }
.bg-gray     { background: #828c91; }
.bg-foot     { background: #394647; }



/*###### POSITIONING ######
#########################*/

/* Vertical centering requires the parent element have relative positioning */
.v-cen   { position:  relative;
          top:            50%;
          transform: translateY(-50%); }

.v-cen-s { margin-top:        auto;
           margin-bottom:     auto; }

.v-md    { vertical-align:  middle; }
.v-bo    { vertical-align:  bottom; }

.h-cen   { margin-right:      auto;
          margin-left:        auto; }

.p-rl    { position:      relative; }
.p-ab    { position:      absolute; }

.p-lt    { align:             left; }

.tx-rt   { text-align:       right; }
.tx-lt   { text-align:        left; }
.tx-cn   { text-align:      center; }
.tx-ar   { margin-left:       auto; }
.tx-al   { margin-right:      auto; }



/*###### DISPLAY ##########
#########################*/

.ds-ib { display: inline-block; }
.ds-tc { display:   table-cell; }
.ds-b  { display:        block; }
.ds-t  { display:        table; }
.ds-tr { display:    table-row; }


/*###### BORDER ###########
#########################*/

.debug    { border:  1px solid red; }

.br-gy    { border-color:     gray; }

.br-sm    { border-width:      2px; }

.cr-rd-s  { border-radius:    15px; }


/*###### LISTS ############
#########################*/

.ul-no { list-style-type:    none; }

.fl-l  { float:  left; }
.fl-r  { float: right; }
.clear { clear:  both; }



/*###### FONT #############
#########################*/

.ft-go { font-family: 'Nunito', sans-serif; }
.ft-sm { font-size: .9em; }
.ft-lh-sm { line-height: 135%; }

